<section class="container mx-auto my-16">
  <h1 class="text-5xl mt-0 mb-5 text-center">PasswordSecret</h1>
  <p class="mb-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aut in,
    ipsam, enim vel laudantium labore itaque perspiciatis, ullam eligendi error.
    Cupiditate sint minus incidunt pariatur esse quas repellat dignissimos!
  </p>
  <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-500">
    <h2 class="text-3xl text-center">Add New Keeper</h2>
    <p class="text-center">You can add a new password keeper</p>
    <form [formGroup]="serviceForm" (ngSubmit)="createNewData()" (reset)="(cleanForm)">
      <div class="flex flex-col">
        <label class="text-lg font-medium mb-2 underline">Service Name</label>
        <secretpass-input-service [control]="serviceName" labelFor='servName' type="text" placeholder="Enter Name Service">
        </secretpass-input-service>
      </div>
      <div class="flex flex-col">
        <label class="text-lg font-medium mb-2 underline">Password</label>
        <secretpass-input-service [control]="servicePassword" labelFor="password" type="password" placeholder="Enter Password">
        </secretpass-input-service>
      </div>

      <div class="flex flex-col">
        <label class="text-lg font-medium mb-2 underline">Logo Url</label>
        <secretpass-input-service [control]="serviceImg" labelFor='logoImg' type="text" placeholder="Enter Logo Url">
        </secretpass-input-service>
      </div>

      <button type="submit"
        class="mt-5 mx-0.5 bg-gray-900 hover:bg-gray-700 text-yellow-400 font-bold py-2 px-4 border border-yellow-900 rounded">
        Add Keeper
      </button>

      <button type="reset"
        class="mt-5 mx-0.5 bg-gray-900 hover:bg-gray-700 text-yellow-400 font-bold py-2 px-4 border border-yellow-900 rounded">
        Cancel
      </button>
    </form>
  </div>
  <section class="grid grid-cols-3 gap-5">
    <div *ngFor="let site of clients" class="shadow-lg border-2 border-gray-900 flex flex-col items-center">
      <secretpass-list-item [site]="site">
        
      </secretpass-list-item>
    </div>
  </section>
</section>